/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
.main-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 56px;
  width: 100%;
  margin: 40px auto 0;
  border-radius: 3px;
  border: none;
  background-color: #4c8afe;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  cursor: pointer; }
  @media (min-width: 900px) {
    .main-button {
      height: 48px; } }
  .main-button .icon {
    background-color: #fff;
    position: absolute;
    height: 100%;
    top: 0;
    left: 32px; }
  .main-button:hover {
    background-color: #1b6afe; }
  .main-button:focus, .main-button:active {
    outline: none;
    background-color: #0151e4; }

/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
.error-msg {
  position: absolute;
  bottom: -22px;
  left: 0;
  font-size: 14px;
  color: #ff5863; }

.input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 32px;
  position: relative; }
  .input-wrapper.has-error input {
    border-color: #ff5863; }
  .input-wrapper .password-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
    .input-wrapper .password-wrapper.show .icon {
      background-color: #4c8afe; }
    .input-wrapper .password-wrapper input {
      padding: 0 48px 0 16px; }
      @media (min-width: 900px) {
        .input-wrapper .password-wrapper input {
          padding: 0 44px 0 14px; } }
    .input-wrapper .password-wrapper .icon {
      position: absolute;
      height: 100%;
      width: 16px;
      top: 0;
      right: 16px;
      cursor: pointer; }
  .input-wrapper label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #8f8f8f; }
  .input-wrapper input {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    height: 56px;
    font-size: 16px;
    border-radius: 3px;
    border: solid 1px #e6e6e6;
    padding: 0 16px;
    opacity: 0.4; }
    @media (min-width: 900px) {
      .input-wrapper input {
        height: 48px;
        padding: 0 14px; } }
    .input-wrapper input::-webkit-input-placeholder, .input-wrapper input::-moz-placeholder, .input-wrapper input:-ms-input-placeholder, .input-wrapper input:-moz-placeholder {
      color: #cccccc; }
    .input-wrapper input:hover, .input-wrapper input:focus, .input-wrapper input:active {
      opacity: 1;
      outline: none; }

.policy-wrapper {
  position: relative; }
  .policy-wrapper.has-error .privacy-policy {
    border-color: #ff5863; }
  .policy-wrapper .privacy-policy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    border-radius: 3px;
    border: solid 1px #e6e6e6;
    padding: 16px;
    color: #cccccc; }
    @media (min-width: 900px) {
      .policy-wrapper .privacy-policy {
        padding: 8px 4px 8px 12px; } }
    .policy-wrapper .privacy-policy .checkbox-input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      position: relative;
      height: 24px;
      width: 24px;
      min-width: 24px;
      margin: 0 16px 0 0;
      border-radius: 4px;
      border: solid 1px #e6e6e6;
      outline: none;
      cursor: pointer; }
      @media (min-width: 900px) {
        .policy-wrapper .privacy-policy .checkbox-input {
          margin-right: 12px; } }
      .policy-wrapper .privacy-policy .checkbox-input:hover {
        border-color: #4c8afe; }
      .policy-wrapper .privacy-policy .checkbox-input:checked {
        background-color: #4c8afe;
        border-color: #4c8afe; }
      .policy-wrapper .privacy-policy .checkbox-input:after {
        content: "";
        background: url(../imgs/icons/tick-icon.svg) no-repeat center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }

/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
.icon {
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  display: inline-block;
  height: 12px;
  width: 12px;
  background: #8f8f8f; }

.eye-icon {
  -webkit-mask-image: url(../imgs/icons/eye-icon.svg);
  mask-image: url(../imgs/icons/eye-icon.svg); }

.lock-icon {
  -webkit-mask-image: url(../imgs/icons/lock-icon.svg);
  mask-image: url(../imgs/icons/lock-icon.svg); }

/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
body {
  font-family: Arial, sans-serif; }
  body h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333; }
  body h2 {
    margin: 0;
    font-size: 20px;
    font-weight: normal; }
  body p {
    margin: 0;
    font-size: 16px; }
  body .link-wrapper {
    font-size: 14px; }
    body .link-wrapper a {
      text-decoration: none;
      color: #4c8afe; }
      body .link-wrapper a:hover {
        color: #1b6afe; }
      body .link-wrapper a:focus, body .link-wrapper a:active {
        outline: none;
        color: #0151e4; }

/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
body {
  margin: 0; }
  body #register_page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    @media (min-width: 900px) {
      body #register_page {
        height: 100vh;
        min-height: 750px; } }
    body #register_page .image-section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      align-items: flex-end;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      justify-content: flex-end;
      text-align: right;
      width: 45%;
      background-image: url(../imgs/bg-login.png);
      background-size: cover;
      background-position: center;
      color: white;
      padding: 40px;
      position: relative; }
      @media (max-width: 899px) {
        body #register_page .image-section {
          display: none; } }
      body #register_page .image-section h2 {
        max-width: 368px;
        margin-bottom: 8px; }
      body #register_page .image-section h2,
      body #register_page .image-section p {
        z-index: 1; }
      body #register_page .image-section .name {
        margin-bottom: 4px;
        font-weight: bold; }
      body #register_page .image-section .shadow {
        background: rgba(0, 0, 0, 0.2);
        background: -webkit-linear-gradient(90deg-to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.5) 69%, rgba(0, 0, 0, 0.8) 96%);
        background: -o-linear-gradient(90deg-to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.5) 69%, rgba(0, 0, 0, 0.8) 96%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0) 16%, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.5) 69%, rgba(0, 0, 0, 0.8) 96%);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%; }
    body #register_page .form-section {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 100%;
      min-width: 320px; }
      @media (min-width: 900px) {
        body #register_page .form-section {
          width: 55%; } }
      body #register_page .form-section header {
        border-bottom: 1px solid #e6e6e6;
        padding: 20px 32px;
        text-align: right;
        position: relative; }
        @media (min-width: 900px) {
          body #register_page .form-section header {
            padding: 16px 32px; } }
        body #register_page .form-section header img {
          -o-object-fit: contain;
          object-fit: contain;
          height: 24px;
          width: 75px; }
        body #register_page .form-section header .success-msg {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          -webkit-transition: all 1s 0s ease-in-out;
          -o-transition: all 1s 0s ease-in-out;
          transition: all 1s 0s ease-in-out;
          position: absolute;
          top: 0;
          left: 0;
          margin-top: -100%;
          height: 100%;
          width: 100%;
          background-color: #2ecc71;
          color: #fff;
          opacity: 0; }
          body #register_page .form-section header .success-msg.show {
            margin-top: 0;
            opacity: 1; }
      body #register_page .form-section .form-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-self: center;
        -moz-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        height: 100%;
        max-width: 560px;
        padding: 0 24px 32px; }
        @media (min-width: 900px) {
          body #register_page .form-section .form-wrapper {
            max-width: 350px;
            padding: 0 0 40px; } }
        body #register_page .form-section .form-wrapper form {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -moz-flex-grow: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          padding: 80px 0; }
          @media (min-width: 900px) {
            body #register_page .form-section .form-wrapper form {
              padding: 0; } }
          @media (min-width: 900px) {
            body #register_page .form-section .form-wrapper form .form-title,
            body #register_page .form-section .form-wrapper form .form-description {
              text-align: center; } }
          body #register_page .form-section .form-wrapper form .form-title {
            margin-bottom: 8px; }
          body #register_page .form-section .form-wrapper form .form-description {
            margin-bottom: 24px;
            color: #8f8f8f; }
          @media (min-width: 900px) {
            body #register_page .form-section .form-wrapper form .cpf-nasc {
              display: -ms-grid;
              display: grid;
              -webkit-column-gap: 24px;
              -moz-column-gap: 24px;
              column-gap: 24px;
              -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
              grid-template-columns: repeat(12, 1fr); } }
          body #register_page .form-section .form-wrapper form .cpf-nasc .input-wrapper {
            -ms-grid-column-span: span 6;
            grid-column: span 6; }
        body #register_page .form-section .form-wrapper footer {
          border-top: 1px solid #e6e6e6;
          padding-top: 16px;
          text-align: center;
          color: #8f8f8f; }
