@import '../shared/colors';

@import "../../../node_modules/sass-autoprefixer/scss/prefixes";

.main-button {
	@include vp-appearance(none);
	@include vp-transition(all 0.2s);

	height: 56px;
	width: 100%;
	margin: 40px auto 0;
	border-radius: 3px;
	border: none;
	background-color: $main_blue;
	font-size: 16px;
	font-weight: bold;
	color: $white;
	position: relative;
	cursor: pointer;

	@media (min-width: 900px) {
		height: 48px;
	}

	.icon {
		background-color: $white;
		position: absolute;
		height: 100%;
		top: 0;
		left: 32px;
	}

	&:hover {
		background-color: $hover_blue;
	}

	&:focus,
	&:active {
		outline: none;
		background-color: $focus_blue;
	}
}
