// Colors

$dark_gray: #333;
$warm_gray: #8f8f8f;
$light_gray: #cccccc;
$lighter_gray: #e6e6e6;
$white: #fff;

$main_blue: #4c8afe;
$hover_blue: #1b6afe;
$focus_blue: #0151e4;
$main_green: #2ecc71;
$main_red: #ff5863;
