@import 'prefixes';
@import 'colors';

.icon {
	@include p-mask-size(contain);
	@include p-mask-repeat(no-repeat);
	@include p-mask-position(center);

	display: inline-block;
	height: 12px;
	width: 12px;
	background: $warm_gray;
}

.eye-icon {
	@include p-mask-image(url(../imgs/icons/eye-icon.svg));
}

.lock-icon {
	@include p-mask-image(url(../imgs/icons/lock-icon.svg));
}
